

body{
	font-family: 'Rubik', sans-serif;
}

.logo img{
	width: 100%;
}

.icon {
    border: 1px solid #ddd;
    padding: 7px 10px;
}

.icon i{
	color: #f6783a;
}

.info h4 {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin: 0px;
}
.info h5{
    font-size: 13px;
    font-weight: 700;
    color: #000;
    margin: 0px;
}

.info {
    padding-left: 14px;
}

.footer-area{
	background: #020031;
}

.footer-logo img{width:100%;}

.footer-text p {
    color: #b7b7b7;
    font-size: 14px;
    padding: 7px 0px;
}

button.fb {
    background: #FFFAFA;
    border: none;
    padding: 4px 54px;
    border-radius: 5px;
    font-size: 30px;
    color: #11115c;
    font-weight: bold;
}

.footer-contact h3 {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-contact p {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
}

.foote-bottom.text-center p {
    color: #b7b7b7;
    font-size: 14px;
}

hr{background: #b7b7b7}


.cover img{width:100%;}


.label {
    background: red;
    width: 40%;
    color: #fff;
    text-align: center;
    padding: 8px 20px;
    border-radius: 30px;
    margin: auto;
}

.my-btn {
    background: none;
    color: #007bff;
}

.cover {
    position: relative;
}

.label {
    position: absolute;
    top: 243px;
    left: 31%;
}

.course {
    background: #F8FFFB;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 0px #ddd;
}

.course-offer{padding:100px 0px}

section.course-offer h3 {
    font-size: 60px;
    width: 52%;
    margin: auto;
}








